body {
  font-family: Arial, sans-serif; /* Yazı tipi ailesi */
  font-size: 20px; /* <p></p> etiketindeki ana yazının boyutu */
  background-color: #af6134; /* Web sayfasının arka plan rengi */
  color: #000000/* Metin rengi */
}

h1 {
  color: #000000; /* Başlık rengi */
  font-size: 24px; /* Başlık yazı tipi boyutu */
  font-family: Georgia, serif; /* Başlıkta kullanılan yazı tipi ailesi */
}
